@import "tailwindcss";

#root {
  margin: 0 auto;

  display: flex; 
  flex-direction: column;
  align-items: center;
}

@layer base {
  h1 {
    font-size: var(--text-5xl);

  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  button {
    @apply bg-sky-500 hover:bg-sky-700 py-2 px-4 text-white rounded cursor-pointer
  }
  a {
    color: blue; 
    text-decoration: underline;
  }
}